{% extends 'index.html' %}
{% load static %}

{% block main %}
<div class="container-fluid">
  <ol class="breadcrumb mt-2">
    {% block breadcrumb %}
    <li class="breadcrumb-item active">
      <a href={% url 'eleccion:eleccion-list' %}>Elecciones</a></li>
    <li class="breadcrumb-item">{{object}}</li>
    {% endblock %}
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      {{object.title}}
    </div>
    <!-- card-body -->
    <div class="card-body">
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Fecha:</b> {{object.date}}</li>
            <li class="list-group-item"><b>Inicio-Cierre:</b>
              {% if object.status %}{{object.start_time}}hs-{{object.end_time}}hs {% else %}00:00hs-00:00hs{% endif %}</li>
            <li class="list-group-item"><b>Estado:</b> {{object.get_status_display}}</li>
            <li class="list-group-item"><b>Cargo:</b> {{object.cargo}}</li>
            <li class="list-group-item"><b>Padron:</b>
              <a href="{{object.padron.get_absolute_url}}" target="_blank">{{object.padron}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h5>Candidatos: {{object.candidato_set.all.count}}</h5>
          {% for obj in object.candidato_set.all %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <a href="{{obj.get_absolute_url}}">{{obj}}</a> </li>
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /card-body -->

    <div class="card-footer">
      <div class="container-fluid d-flex content-justify-between">
        <div class="col">
          <a class="btn btn-warning" href={% url 'eleccion:edit-eleccion' object.slug %}>Editar</a>
          <a class="btn btn-secondary" href="{{object.padron.get_absolute_url}}">Ver Padron</a>
          <a class="btn btn-primary" href={% url 'eleccion:eleccion-candidato' object.slug %}>Postular Candidato</a>
          <!--# path('addreview/<int:book_pk>/', AddReview.as_view(), name = 'add-review')-->
        </div>
        <a class="btn btn-success" href={% url 'eleccion:programar-eleccion' object.slug %}>Programar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
