{% extends "index.html" %}
{% load static %}
{% block main %}
<!-- Card with card-header-tabs -->
<div class="container">
  <div class="card-fluid">
    <!-- Card-header -->
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="eleccion-list" role="tablist">
        <!-- /Pasadas-Pendientes-Programadas -->
        <li class="nav-item">
          <a class="nav-link active" href="#pasadas" role="tab" aria-controls="pasadas" aria-selected="true">
            Pasadas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pendientes" role="tab" aria-controls="pendientes" aria-selected="false">
            Pendientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#programadas" role="tab" aria-controls="programadas" aria-selected="false">
            Programadas
          </a>
        </li>
        <!-- /Pasadas-Pendientes-Programadas -->
      </ul>
    </div>
    <!-- /Card-header -->
    <!-- Card-bodys -->
    <div class="card-body">
      <!--h4 class="card-title">TITULO</h4>
      <h6 class="card-subtitle mb-2">Subtitulo</h6-->
      <!-- tab-content pasadas-pendientes-programadas -->
      <div class="tab-content mt-3">
        <!-- tab-pane pasadas -->
        <div class="tab-pane active" id="pasadas" role="tabpanel">
          <h6 class="card-subtitle mb-2">Tabla de elecciones pasadas</h6>
          {% if elecciones_pasadas %}
          <div class="table-responsive">
            {% include "eleccion/snippets/table_elecciones.html" with id_table="data1" object_list=elecciones_pasadas hidden="d-none"%}
          </div>
          {% else %}
          {% include "eleccion/snippets/no_objetc_list_eleccion.html" with status="pasadas" hidden="d-none"%}
          {% endif %}
        </div>
        <!-- ./tab-pane pasadas -->
        <!-- tab-pane pendientes -->
        <div class="tab-pane" id="pendientes" role="tabpanel" aria-labelledby="history-tab">
          <h6 class="card-subtitle mb-2">Tablas elecciones pendientes</h6>
          {% if elecciones_pendientes %}
          <div class="table-responsive">
            {% include "eleccion/snippets/table_elecciones.html" with id_table="data2" object_list=elecciones_pendientes hidden=""%}
          </div>
          {% else %}
          {% include "eleccion/snippets/no_objetc_list_eleccion.html" with status="pendientes" %}
          {% endif %}
        </div>
        <!-- ./tab-pane pendientes -->
        <!-- tab-pane programadas -->
        <div class="tab-pane" id="programadas" role="tabpanel" aria-labelledby="deals-tab">
          <h6 class="card-subtitle mb-2">Tablas elecciones programadas</h6>
          {% if elecciones_programadas %}
          {% include "eleccion/snippets/table_elecciones.html" with id_table="data3" object_list=elecciones_programadas hidden=""%}
          {% else %}
          {% include "eleccion/snippets/no_objetc_list_eleccion.html" with status="programadas" %}
          {% endif %}
        </div>
        <!-- ./tab-pane programadas -->
      </div>
      <!-- ./tab-content pasadas-pendientes-programadas -->
    </div>
    <!-- /Card-bodys -->
  </div>
</div>
<!-- /Card with card-header-tabs -->
{% endblock %}

{% block script_dataTable %}
<script type="text/javascript">
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    var tabla1 = iniciarDataTable('data1');
    var tabla2 = iniciarDataTable('data2');
    var tabla3 = iniciarDataTable('data3');
    $("#eleccion-list a").on("click", function(e) {
      e.preventDefault();
      $(this).tab("show");
      var referencia = $(event.target).attr("href");
      if (referencia == "#pasadas")
        tabla1.columns.adjust();
      if (referencia == "#pendientes")
        tabla2.columns.adjust();
      if (referencia == "#programadas")
        tabla3.columns.adjust();
    });
  });
  // https://es.stackoverflow.com/questions/144360/datatables-en-tabs-dinamicas-se-inicializan-mal
  function iniciarDataTable(id) {
    var table = $('#' + id).DataTable({
      "scrollY": "400px",
      "scrollCollapse": true,
      "paging": false,
      scrollX: true,
    });
    return table;
  };
</script>
{% endblock %}
