<div class="table-responsive-md mr-1">
  <table class="table table-hover" id={{table_id}}>
    <thead>
      <tr>
        {% for th in thead %}
        <th>{{th}}</th>
        {% endfor %}
        <th>
          <input type="checkbox" id={{checkbox_id}}>
        </th>
      </tr>
    </thead>
    <tbody class="text-dark">
      {% for elector in electores %}
      <tr>
        {% for values in elector.get_field_values_for_padron %}
        <td>{{values}}</td>
        {% endfor %}
        <td>
          <input type="checkbox" name={{checkbox_name}} value={{elector.id}}>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>