<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">

    <div class="nav">
      <div class="sb-sidenav-menu-heading">ADMIN</div>
      <a class="nav-link" href={% url 'admin:index' %}>
        Admin Site
      </a>
      <div class="sb-sidenav-menu-heading">DATA</div>
      <a class="nav-link" href={% url 'index:index' %}>
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Resumen
      </a>
      <!-- nav-link collapsed Gestión de Padrón -->
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Padron" aria-expanded="false" aria-controls="Padron">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Gestión de Padrón
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div class="collapse" id="Padron" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="#">Padrones</a>
          <a class="nav-link" href="#">Electores</a>
        </nav>
      </div>
      <!-- /nav-link collapsed Gestión de Padrón -->

      <!-- nav-link collapsed Gestión de Elección -->
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Eleccion" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        Gestión de Elección
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div class="collapse" id="Eleccion" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="#">Cargos</a>
          <a class="nav-link" href="#">Candidatos</a>
          <a class="nav-link" href="#">Elecciones</a>
        </nav>
      </div>
      <!-- ./nav-link collapsed Gestión de Elección -->
      <div class="sb-sidenav-menu-heading">Conteos</div>
      <a class="nav-link" href="charts.html">
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        Charts
      </a>
      <a class="nav-link" href="tables.html">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Tables
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Loggeado como:</div>
    {{user}}
  </div>
</nav>
